---
title: "{{ data.title }}"
date: 2018-01-09T23:41:44+01:00
draft: false
audio: "/spoken/{{data.filename}}.mp3"
sequence: {{data.voice}}
---

## {{ data.voice }}
### {{data.title}}


{% raw %}
{{< audio >}}
{% endraw %}




